@import url('https://fonts.google.com/specimen/Outfit');
* {
    margin: 0;
    padding: 0;
}

:root {
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);


    /* ### Neutral */

--Very-dark-blue: hsl(217, 54%, 11%);
--Very-dark-blue1: hsl(216, 50%, 16%);
--Very-dark-blue2: hsl(214, 20%, 52%);
--White: hsl(0, 0%, 90%);
}
body{
   background-color: var(--Very-dark-blue);
}

.main {
    background-color: var(--Very-dark-blue1);
    width: 18vw;
    height: 66vh;
    margin: auto;
    margin-top: 196px;
    margin-top: 110px;
    
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    border-radius: 13px;
}
.mainimg img{
    margin: auto;
    width: 216px;
    height: 220px;
    margin-left: 17.5px;
    margin-top: 18px;
    border-radius: 6px;
}
h1{
    font-size: 15px;
    color: var(--White);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    /* text-decoration: dashed; */
    margin-left: 18px;
    margin-top: 15px;

}
h2{
    row-gap: 3;
    font-size: 13px;
    color: var(--Very-dark-blue2);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    /* text-decoration: dashed; */
    margin-left: 18px;
    margin-top: 14px;
    /* text; */
    /* white-space: nowrap; */

}
.icon{
    color: var(--Cyan);
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
font-weight: 500;
display: flex;
flex-direction: row;
justify-content: space-between;
margin-left: 5px;

}
.et{
    font-size: 10px;
    display: flex;
    text-align: space-between;
    color: var(--Cyan);
    font-family: 'Poppins', sans-serif;

}
article{
    display: block;
}
.content{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    padding-left: 15px;
}
.svet{
    margin-top: -12px;
    width: 20px;
    height: 10px;
    size: b4;
}
.et1{
font-size: 12px;
margin-left: -5px;

margin-right: 135px;
}
.et2{
    margin-left: -15px;
    font-size: 12px;color: var(--Soft-blue);
    /* text-decoration: line-through; */
/* display: ; */
}
hr{
    margin-left: 15px;
    width: 16vw;
    height: 0.5px;
    color: var(--Soft-blue);
    margin-top: 10px;
}
.img img{
    margin-left: 5px;
    width: 16px;
    height: 20px;
    margin-left: 17.5px;
    margin-top: 18px;
    border-radius: 6px;
}
.last{
    margin-left: 45px;
    margin-top: -5px;
}